@media (min-width: 1139px) {
  .col-full {
    width: 1140px !important;
  }
}

@media (max-width: 1108px) {
  #secondary .products-filter-list li a {
    margin-left: -5px !important;
    font-size: 10px;
  }
  #secondary .products-filter-list li {
    margin-right: 5px !important;
  }
  .home-aktuelle .aktuelle-columns {
    display: grid !important;
    grid-template-columns: 1fr 3fr !important;
    grid-gap: 10px !important;
  }
}

@media (max-width: 890px) {
  .home-aktuelle .aktuelle-columns {
    display: grid !important;
    grid-template-columns: 1fr 2fr !important;
    grid-gap: 10px !important;
  }
}

@media (max-width: 1099px) {
  .site-header .main-navigation {
    width: 100% !important;
  }
  .site-header .site-search {
    display: none;
  }
  .storefront-handheld-footer-bar {
    display: block !important;
  }

  footer {
    margin-bottom: 80px;
  }
  .home-aktuelle .aktuelle-column:last-child {
    grid-column-start: 2;
    grid-column-end: 5;
  }
  .home-info > article:first-child {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
@media (min-width: 1100px) {
  .home-aktuelle .aktuelle-column:last-child {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .home-info > article:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #site-header-cart {
    display: inline-block !important;
    width: unset;
    margin-top: 20px;
  }
  .site-search,
  #site-header-cart {
    width: 243px !important;
  }

  #site-header-cart > li:first-child {
    width: 50%;
    text-align: left;
  }
  /**
           * Menus
           *
           * 1 - We have to use a `left` declaration so that dropdowns are revealed when tabbed.
           */
  .menu-toggle,
  .handheld-navigation,
  .main-navigation.toggled .handheld-navigation,
  .main-navigation.toggled div.menu {
    display: none;
  }

  .primary-navigation {
    display: block !important;
  }

  .main-navigation,
  .secondary-navigation {
    clear: both;
    display: block;
    width: 100%;
  }

  .main-navigation ul,
  .secondary-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: block;
  }

  .main-navigation ul li,
  .secondary-navigation ul li {
    position: relative;
    display: inline-block;
    text-align: left;
  }

  .main-navigation ul li a,
  .secondary-navigation ul li a {
    display: block;
  }

  .main-navigation ul li a::before,
  .secondary-navigation ul li a::before {
    display: none;
  }

  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul,
  .secondary-navigation ul li:hover > ul,
  .secondary-navigation ul li.focus > ul {
    left: 0;
    display: block;
  }

  .main-navigation ul li:hover > ul li > ul,
  .main-navigation ul li.focus > ul li > ul,
  .secondary-navigation ul li:hover > ul li > ul,
  .secondary-navigation ul li.focus > ul li > ul {
    left: -9999px;
    /* 1 */
  }

  .main-navigation ul li:hover > ul li > ul.sub-menu--is-touch-device,
  .main-navigation ul li.focus > ul li > ul.sub-menu--is-touch-device,
  .secondary-navigation ul li:hover > ul li > ul.sub-menu--is-touch-device,
  .secondary-navigation ul li.focus > ul li > ul.sub-menu--is-touch-device {
    display: none;
    left: 0;
  }

  .main-navigation ul li:hover > ul li:hover > ul,
  .main-navigation ul li:hover > ul li.focus > ul,
  .main-navigation ul li.focus > ul li:hover > ul,
  .main-navigation ul li.focus > ul li.focus > ul,
  .secondary-navigation ul li:hover > ul li:hover > ul,
  .secondary-navigation ul li:hover > ul li.focus > ul,
  .secondary-navigation ul li.focus > ul li:hover > ul,
  .secondary-navigation ul li.focus > ul li.focus > ul {
    left: 100%;
    top: 0;
    display: block;
  }

  .main-navigation ul ul,
  .secondary-navigation ul ul {
    float: left;
    position: absolute;
    top: 100%;
    z-index: 99999;
    left: -9999px;
    /* 1 */
  }

  .main-navigation ul ul.sub-menu--is-touch-device,
  .secondary-navigation ul ul.sub-menu--is-touch-device {
    display: none;
    left: 0;
  }

  .main-navigation ul ul li,
  .secondary-navigation ul ul li {
    display: block;
  }

  .main-navigation ul ul li a,
  .secondary-navigation ul ul li a {
    width: 280px;
  }

  ul.menu li.current-menu-item > a {
    color: #43454b;
  }

  /**
       * Primary Navigation
       */
  .storefront-primary-navigation {
    clear: both;
  }

  .storefront-primary-navigation::before,
  .storefront-primary-navigation::after {
    content: "";
    display: table;
  }

  .storefront-primary-navigation::after {
    clear: both;
  }

  .main-navigation div.menu {
    display: block;
  }

  .main-navigation ul.menu,
  .main-navigation ul.nav-menu {
    max-height: none;
    overflow: visible;
    margin-left: -1em;
    -webkit-transition: none;
    transition: none;
  }

  .main-navigation ul.menu > li > a,
  .main-navigation ul.nav-menu > li > a {
    font-family: "Roboto-Medium";
    font-size: 24px;
    padding: 0 10px;
    margin-top: 86px;
  }

  .cart-contents {
    padding: 0 !important;
  }

  .main-navigation ul.menu > li.menu-item-has-children:hover::after,
  .main-navigation ul.menu > li.page_item_has_children:hover::after,
  .main-navigation ul.nav-menu > li.menu-item-has-children:hover::after,
  .main-navigation ul.nav-menu > li.page_item_has_children:hover::after {
    display: block;
  }

  .main-navigation ul.menu ul,
  .main-navigation ul.nav-menu ul {
    margin-left: 0;
  }

  .main-navigation ul.menu ul li a,
  .main-navigation ul.nav-menu ul li a {
    padding: 0.575em 0.41575em;
    font-weight: 400;
    font-size: 20px;
  }

  .main-navigation ul.menu ul li:last-child,
  .main-navigation ul.nav-menu ul li:last-child {
    border-bottom: 0;
  }

  .main-navigation ul.menu ul ul,
  .main-navigation ul.nav-menu ul ul {
    margin-left: 0;
    box-shadow: none;
  }

  .main-navigation ul.menu ul a:hover,
  .main-navigation ul.menu ul li:hover > a,
  .main-navigation ul.menu ul li.focus,
  .main-navigation ul.nav-menu ul a:hover,
  .main-navigation ul.nav-menu ul li:hover > a,
  .main-navigation ul.nav-menu ul li.focus {
    background-color: #f9f9f9;
  }

  .main-navigation a {
    padding: 0 1em 2.2906835em;
  }

  /**
       * Secondary Navigation
       */
  .secondary-navigation {
    margin: 0 0 1.618em;
    width: auto;
    clear: none;
    line-height: 1;
  }

  .secondary-navigation .menu {
    font-size: 0.875em;
    width: auto;
    float: right;
  }

  .secondary-navigation .menu > li:hover > a {
    text-decoration: none;
  }

  .secondary-navigation .menu ul a {
    padding: 0.326em 0.875em;
    background: rgba(0, 0, 0, 0.05);
  }

  .secondary-navigation .menu ul li:first-child a {
    padding-top: 1em;
  }

  .secondary-navigation .menu ul li:last-child a {
    padding-bottom: 1em;
  }

  .secondary-navigation .menu ul ul {
    margin-top: -0.6180469716em;
  }

  .secondary-navigation .menu a {
    padding: 1em 0.875em;
    color: #737781;
    font-weight: 400;
  }

  .secondary-navigation .menu a:hover {
    text-decoration: none;
  }
}

/**
 * Strictly Layout Styles
 */
@media (min-width: 768px) {
  #site-header-cart li span.dashicons {
    margin-top: -4px;
  }

  .menu-grid {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 160px auto;
  }

  table.shop_table_responsive tbody tr td,
  table.shop_table_responsive tbody tr th {
    text-align: left;
  }

  .site-header {
    padding-top: 35px;
    padding-bottom: 0;
  }

  .site-header .site-branding {
    display: block;
    width: 100% !important;
    float: left;
    margin-left: 0;
    margin-right: 0;
    clear: both;
  }

  .site-header .site-branding img {
    object-fit: cover;
    margin-top: 4px;
    max-height: none;
  }

  .site-header-cart .widget_shopping_cart {
    top: calc(100% - 13px) !important;
  }

  .woocommerce-active .site-header .site-branding {
    /*width: 160px;*/
    height: 108px;
    float: left;
    margin-right: 4.347826087%;
  }

  .woocommerce-active .site-header .site-search {
    width: 21.7391304348%;
    float: right;
    margin-right: 0;
    /*margin-top: -65px;*/
    clear: none;
  }

  .woocommerce-active .site-header .main-navigation {
    width: unset;
    /*width: 73.9130434783%;*/
    float: left;
    margin-right: 4.347826087%;
    clear: both;
  }

  .woocommerce-active .site-header .site-header-cart {
    width: 100%;
    float: right;
    text-align: right;
    line-height: 12px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .site-header-cart .cart-contents > .woocommerce-Price-amount {
    display: none !important;
  }

  .site-header-cart .cart-contents::after {
    top: -6px;
    margin-top: -6px;
    margin-left: 5px;
    float: none !important;
  }

  /*.woocommerce-active .site-header .site-header-cart > li:last-child {*/
  /*    margin-right: 0 !important;*/
  /*}*/
  .woocommerce-active .site-header .site-header-cart > li {
    display: inline-block;
  }
  .woocommerce-active .site-header .site-header-cart > li.cart-li {
    width: calc(50% - 15px);
  }
  .woocommerce-active .site-header .site-header-cart > li.login-li {
    margin-right: 10px;
  }

  .storefront-secondary-navigation .site-header .site-branding {
    width: 39.1304347826%;
    float: left;
    margin-right: 4.347826087%;
  }

  .storefront-secondary-navigation .site-header .secondary-navigation {
    width: 56.5217391304%;
    float: right;
    margin-right: 0;
  }

  .storefront-secondary-navigation.woocommerce-active
    .site-header
    .site-branding {
    width: 21.7391304348%;
    float: left;
    margin-right: 4.347826087%;
  }

  .storefront-secondary-navigation.woocommerce-active
    .site-header
    .secondary-navigation {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%;
  }

  .site-branding .site-description {
    margin-bottom: 0;
    display: block;
  }

  .site-branding,
  .site-search,
  .site-header-cart,
  .site-logo-anchor,
  .site-logo-link,
  .custom-logo-link {
    margin-bottom: 1.41575em;
  }

  .site-header .subscribe-and-connect-connect {
    float: right;
    margin-bottom: 1em;
  }

  .site-header .subscribe-and-connect-connect .icons {
    list-style: none;
    margin: 0;
  }

  .site-header .subscribe-and-connect-connect .icons a {
    font-size: 1em !important;
  }

  .site-header .subscribe-and-connect-connect .icons li {
    margin: 0 0 0 0.5407911001em !important;
    display: inline-block;
  }

  .col-full {
    max-width: 66.4989378333em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.617924em;
    box-sizing: content-box;
  }

  .col-full::before,
  .col-full::after {
    content: "";
    display: table;
  }

  .col-full::after {
    clear: both;
  }

  .col-full:after {
    content: " ";
    display: block;
    clear: both;
  }

  .site-content::before,
  .site-content::after {
    content: "";
    display: table;
  }

  .site-content::after {
    clear: both;
  }

  .content-area {
    width: 73.9130434783%;
    float: left;
    margin-right: 4.347826087%;
  }

  .widget-area {
    width: 21.7391304348%;
    float: right;
    margin-right: 0;
  }

  .right-sidebar .content-area {
    width: 73.9130434783%;
    float: left;
    margin-right: 4.347826087%;
  }

  .right-sidebar .widget-area {
    width: 21.7391304348%;
    float: right;
    margin-right: 0;
  }

  .left-sidebar .content-area {
    width: 73.9130434783%;
    float: right;
    margin-right: 0;
  }

  .left-sidebar .widget-area {
    width: 21.7391304348%;
    float: left;
    margin-right: 4.347826087%;
  }

  .storefront-full-width-content .content-area {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  .content-area,
  .widget-area {
    margin-bottom: 2.617924em;
  }

  /**
       * Full width & homepage template
       */
  .page-template-template-fullwidth-php .content-area,
  .page-template-template-homepage-php .content-area {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /**
       * Footer widgets
       */
  .footer-widgets {
    padding: 30px;
    background: #f0f0f0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .footer-widgets::before,
  .footer-widgets::after {
    content: "";
    display: table;
  }

  .footer-widgets::after {
    clear: both;
  }

  .footer-widgets.col-2 .block {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%;
  }

  .footer-widgets.col-2 .block.footer-widget-2 {
    float: right;
    margin-right: 0;
  }

  .footer-widgets.col-3 .block {
    width: 30.4347826087%;
    float: left;
    margin-right: 4.347826087%;
  }

  .footer-widgets.col-3 .block.footer-widget-3 {
    float: right;
    margin-right: 0;
  }

  .footer-widgets.col-4 .block {
    width: 21.7391304348%;
    float: left;
    margin-right: 4.347826087%;
  }

  .footer-widgets.col-4 .block.footer-widget-4 {
    float: right;
    margin-right: 0;
  }

  /**
       * Comments
       */
  .comment-list::before,
  .comment-list::after {
    content: "";
    display: table;
  }

  .comment-list::after {
    clear: both;
  }

  .comment-list .comment {
    clear: both;
  }

  .comment-list .comment-meta {
    width: 17.6470588235%;
    float: left;
    margin-right: 5.8823529412%;
    text-align: right;
  }

  .comment-list .comment-meta .avatar {
    float: right;
  }

  .comment-list .comment-content {
    padding-bottom: 3.706325903em;
    margin-bottom: 3.706325903em;
  }

  .comment-list .comment-content,
  .comment-list #respond {
    width: 76.4705882353%;
    float: right;
    margin-right: 0;
  }

  .comment-list #respond {
    float: right;
  }

  .comment-list #respond .comment-form-author,
  .comment-list #respond .comment-form-email,
  .comment-list #respond .comment-form-url {
    width: 100%;
    margin-right: 0;
  }

  .comment-list .comment-body #respond {
    box-shadow: 0 6px 2em rgba(0, 0, 0, 0.2);
    margin-bottom: 2.617924em;
    margin-top: -1.618em;
  }

  .comment-list .reply {
    clear: both;
    text-align: right;
  }

  .comment-list ol.children {
    width: 88.2352941176%;
    float: right;
    margin-right: 0;
    list-style: none;
  }

  .comment-list ol.children .comment-meta {
    width: 20%;
    float: left;
    margin-right: 6.6666666667%;
  }

  .comment-list ol.children .comment-content,
  .comment-list ol.children #respond {
    width: 73.3333333333%;
    float: right;
    margin-right: 0;
  }

  .comment-list ol.children ol.children {
    width: 86.6666666667%;
    float: right;
    margin-right: 0;
  }

  .comment-list ol.children ol.children .comment-meta {
    width: 23.0769230769%;
    float: left;
    margin-right: 7.6923076923%;
  }

  .comment-list ol.children ol.children .comment-content,
  .comment-list ol.children ol.children #respond {
    width: 69.2307692308%;
    float: right;
    margin-right: 0;
  }

  .comment-list ol.children ol.children ol.children {
    width: 84.6153846154%;
    float: right;
    margin-right: 0;
  }

  .comment-list ol.children ol.children ol.children .comment-meta {
    width: 27.2727272727%;
    float: left;
    margin-right: 9.0909090909%;
  }

  .comment-list ol.children ol.children ol.children .comment-content,
  .comment-list ol.children ol.children ol.children #respond {
    width: 63.6363636364%;
    float: right;
    margin-right: 0;
  }

  .comment-list ol.children ol.children ol.children ol.children {
    width: 81.8181818182%;
    float: right;
    margin-right: 0;
  }

  .comment-list ol.children ol.children ol.children ol.children .comment-meta {
    width: 33.3333333333%;
    float: left;
    margin-right: 11.1111111111%;
  }

  .comment-list
    ol.children
    ol.children
    ol.children
    ol.children
    .comment-content,
  .comment-list ol.children ol.children ol.children ol.children #respond {
    width: 55.5555555556%;
    float: right;
    margin-right: 0;
  }

  #respond {
    padding: 2.617924em;
  }

  #respond .comment-form-author,
  #respond .comment-form-email,
  #respond .comment-form-url {
    width: 29.4117647059%;
    float: left;
    margin-right: 5.8823529412%;
  }

  #respond .comment-form-url {
    float: right;
    margin-right: 0;
  }

  #respond .comment-form-comment {
    clear: both;
  }

  /**
       * Content
       */
  .hentry .entry-header {
    margin-bottom: 2.617924em;
  }

  /**
       * 404 Styles
       */
  .error404 .fourohfour-columns-2 .col-1 {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%;
  }

  .error404 .fourohfour-columns-2 .col-1 ul.products {
    margin-bottom: 0;
  }

  .error404 .fourohfour-columns-2 .col-2 {
    width: 47.8260869565%;
    float: right;
    margin-right: 0;
  }
}

@media (max-width: 66.4989378333em) {
  .col-full {
    margin-left: 2.617924em;
    margin-right: 2.617924em;
    padding: 0;
  }
}

@media (max-width: 568px) {
  .col-full {
    margin-left: 1.41575em;
    margin-right: 1.41575em;
    padding: 0;
  }

  .home-partners {
    grid-auto-flow: unset !important;
  }

  .home-partners {
    padding: 10px !important;
    display: grid !important;
    grid-gap: 5px !important;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 80px !important;
  }

  .img-column {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .content-column {
    grid-column-start: 1 !important;
    grid-column-end: 5 !important;
  }

  .home-products {
    display: block !important;
  }
  .home-product {
    width: 100% !important;
    display: block !important;
  }
}

@media (max-width: 830px) {
  .home-products {
    grid-auto-flow: unset !important;
    grid-template-columns: 50% 50% !important;
  }
}

@media (max-width: 820px) and (min-width: 780px) {
  .home-partners {
    padding: 20px !important;
    display: grid !important;
    grid-gap: 10px !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-rows: 80px !important;
  }
}

@media (max-width: 768px) {
  .page-grid {
    grid-template-columns: 100% !important;
  }
  footer .footer-l,
  footer .footer-r {
    width: 100% !important;
  }
  footer .footer-r {
    margin-top: 30px;
  }
  .home-aktuelle .aktuelle-column img {
    width: 100% !important;
    height: auto !important;
    object-fit: cover !important;
  }
  .home-partners {
    padding: 10px !important;
    display: grid !important;
    grid-gap: 5px !important;

    grid-template-rows: 80px !important;
  }
}

@media (max-width: 1010px) and (min-width: 830px) {
  .home-product .product-image-wrapper {
    min-height: 190px !important;
  }

  .home-product .title {
    height: 90px !important;
  }
}

@media (max-width: 1000px) and (min-width: 891px) {
  .home-aktuelle .aktuelle-column img {
    height: 330px !important;
  }
}

@media (max-width: 1050px) and (min-width: 820px) {
  .home-partners {
    grid-gap: 11px !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-rows: 90px !important;
  }
}

@media (max-width: 1093px) and (min-width: 1051px) {
  .home-partners {
    grid-gap: 10px !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-rows: 110px !important;
  }
}
